.product-card {
    border: 1px solid gray; /* Рамка вокруг карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; /* Занимает всю ширину контейнера */
    max-width: 100vw;
    box-sizing: border-box;
    background-color: #fff; /* Для лучшей читаемости текста */
}

.product-image {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Создает квадратный контейнер */
    overflow: hidden;

}

.product-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование по вертикали и горизонтали */
    width: auto; /* Устанавливаем ширину или высоту автоматически */
    height: 100%; /* Высота занимает весь контейнер */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
}

.product-info {
    text-align: left;
    width: 100%;

}

.product-name {
    text-align: left;
    font-size: 0.9vw; /* Увеличенный размер текста */
    margin: 0;
    color: #000;
}



@media (max-width: 768px) {

    .product-card {
        padding: 15px; /* Уменьшаем отступы на мобильных */
    }
    .product-name {
        font-size: 3vw; /* Уменьшаем шрифт текста на мобильных */
    }
}