.clothing-card {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;

}

.image-wrapper {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.clothing-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    background-color: black;
}

.description {
    position: absolute;
    left: 1vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20vw;
    padding: 1vw;
    color: white;
    line-height: 1.5;
    z-index: 100;
}

.description .name {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.description .size,
.description .color,
.description .material {
    margin-top: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.description div {
    margin-bottom: 0.5vw;
}

.description div:last-child {
    margin-bottom: 0;
}

.description .telegram-link a {
    color: white;
}

.slider-button {
    position: fixed;
    top: 50%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1vw;
    cursor: pointer;
    z-index: 10;
    padding: 1vw;
    transition: opacity 0.3s;
}

.slider-button.left {
    left: 0;
}

.slider-button.right {
    right: 0;
}


@media (min-width: 3840px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}



@media (min-width: 1920px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}

@media (min-width: 1080px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}

@media (min-width: 640px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}