.clothing-card {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: black;

}

.card-wrapper {
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.clothing-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    background-color: black;
}

.description {
    position: absolute;
    left: 1vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20vw;
    color: white;
    line-height: 1.5;
    z-index: 100;
}

.description .name {
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.description .size,
.description .color,
.description .material {
    margin-top: 1.5vw;
    font-weight: bold;
    text-transform: uppercase;
}

.description div {
    margin-bottom: 0.5vw;
}

.description div:last-child {
    margin-bottom: 0;
}

.description .telegram-link a {
    color: white;
}




@media (min-width: 3840px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}



@media (min-width: 1920px) {
    .description {
        font-size: 0.9vw;
    }

    .description .name {
        font-size: 0.9vw;
    }
}



@media (max-width: 768px) {
    .clothing-card {
        flex-direction: column;
        height: auto;
    }

    .card-wrapper {
        width: 100%;

    }

    .clothing-image {
        max-width: 100%;
        height: auto;
        object-fit: contain; /* Чтобы изображение не искажалось */
    }

    .description {
        height: 140vh;
        width: 100%;
        font-size: 4vw;
        text-align: left;
    }

    .description .name {
        font-size: 6vw;
    }
}

@media (max-width: 480px) {
    .card-wrapper {
        height: 40vh; /* Высота изображения для маленьких экранов */
    }

    .description {
        font-size: 2.5vw;
    }

    .description .name {
        font-size: 2.5vw;
    }
}