.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    width: 100vw;
    height: 100vh; /* Задаем высоту в соответствии с высотой экрана */
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-image {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.slider-caption {
    position: absolute;
    top: 5vh;
    left: 1vw;
    color: white;
    font-size: 0.9vw;
    text-align: left;
    max-width: 15vw;
    z-index: 1000;
}

.slider-caption a {
    color: white;
    text-decoration: none;
}

.slider-button {
    position: fixed;
    top: 50%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.1vw;
    cursor: pointer;
    z-index: 1100;
    transition: opacity 0.3s;
}

.slider-button.left {
    left: 0;
}

.slider-button.right {
    right: 0;
}

img {
    pointer-events: none;
}

@media (min-width: 1080px) {
    .slider-caption {
        max-width: 15vw;
        font-size: 0.9vw;
        top: 10vh;
        left: 1vw;
    }

    .slider-button {

        font-size: 0.9vw;
    }
}

@media (min-width: 2560px) {
    .slider-caption {
        max-width: 13vw;
        font-size: 0.9vw;
        top: 10vh;
        left: 1vw;
    }

}

@media (min-width: 3840px) {
    .slider-caption {
        font-size: 0.9vw;
        top: 10vh;
        left: 1vw;
    }

}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden; /* Убираем горизонтальный скролл */
    }

    .image-slider {
        width: 100%;
        height: 100vh; /* Высота на 100% экрана */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Скрываем выходящие элементы */
    }

    .slider-image {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Изображение сохраняет пропорции */
    }
}

