.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки с равной шириной */
    gap: 1vw; /* Отступы между карточками */
    padding: 7vw 1vw 10px;
    width: 100vw; /* Занимает всю ширину экрана */
    max-width: 100%;
    box-sizing: border-box;
}

.product-grid a {
    text-decoration: none;
}

@media (max-width: 768px) {

    .product-grid {
        padding: 30vw 1vw 10px;
        grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
    }
}
