.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки с равной шириной */
    gap: 20px; /* Отступы между карточками */
    padding: 20px;
    width: 100vw; /* Занимает всю ширину экрана */
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr; /* Одна колонка на мобильных устройствах */
    }
}
