.sidebar {
    left: 1vw;
    max-width: 100%;
    text-size-adjust: 100%;
    display: block;
    position: relative;
    width: 100%;
    color: black;
    font-size: 1vw;
    z-index: 1000;
}

.info {
    position: absolute;
    top: 1.5vh;
    text-align: left;
    font-size: 1.2vw;
}

.info a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 1vh;
}

.date {
    position: absolute;
    top: 3vh;
    left: 50%;
    text-align: left;
    font-size: 0.9vw;
}

@media (min-width: 1080px) {
    .sidebar {
        font-size: 0.9vw;
    }

    .info {
        font-size: 0.9vw;
    }
}

@media (min-width: 2560px) {
    .sidebar {
        font-size: 0.9vw;
    }

    .info {
        font-size: 0.9vw;
    }
}

@media (min-width: 3840px) {
    .sidebar {
        font-size: 0.9vw;
    }

    .info {
        font-size: 0.9vw;
    }
}
