.sidebar {
    left: 1vw;
    max-width: 100%;
    text-size-adjust: 100%;
    display: block;
    position: relative;
    width: 100%;
    color: black;
    font-size: 0.9vw;
    z-index: 1000;
}

.info {
    position: absolute;
    top: 1.5vh;
    text-align: left;
    font-size: 9vw;
}

.info-links  {
    line-height: 1vh;
    margin-bottom: 2vh;
}

.info-pages {
    line-height: 1vh;
}

.info-pages a {
    text-decoration: none;
}

.info a {
    color: black;
    display: block;
    margin-bottom: 1vh;
}

.date {
    position: absolute;
    top: 3vh;
    left: 50%;
    text-align: left;
    font-size: 0.9vw;
}

@media (min-width: 1080px) {
    .sidebar {
        font-size: 9vw;
    }

    .info {
        font-size: 0.9vw;
    }
}

@media (min-width: 2560px) {
    .sidebar {
        font-size: 0.9vw;
    }

    .info {
        font-size: 0.9vw;
    }
}

@media (min-width: 3840px) {
    .sidebar {
        font-size: 0.9vw;
    }

    .info {

        font-size: 0.9vw;
    }
}

@media (max-width: 768px) {
    .sidebar {

        font-size: 3vw;
    }

    .info {
        left: 0.7vw;
        font-size: 3vw;
    }
    .date{
        font-size: 3vw;
    }
}
