.slider-buttons {
    position: fixed;
    top: 50%;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 1.1vw;
    cursor: pointer;
    z-index: 11000;
    padding: 1vw;
    transition: opacity 0.3s;

}

.slider-buttons.left {
    left: 50vh;
}

.slider-buttons.right {
    right: 50vh;
}