* {

  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Отключаем прокрутку */
  font-size: 16px; /* Устанавливаем базовый размер шрифта */
}

/* Устанавливаем фиксированные размеры для шрифта */
@media screen {
  .sidebar,
  .info,
  .date {
    font-size: 18px; /* Фиксированный размер шрифта в px */
  }
}